In [1]:
!pip install requests

Requirement already satisfied: requests in c:\users\spagg\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spagg\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\spagg\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\spagg\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\spagg\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
import requests

In [3]:
data = requests.get("http://api.open-notify.org/iss-now.json")

In [4]:
print(data)

<Response [200]>

In [5]:
#200 is good, means eveything is ok. anything starting with 2 is alright. 4 and 5 is not good.

In [6]:
data.json()

{'iss_position': {'longitude': '69.9226', 'latitude': '32.3371'},
 'timestamp': 1655714945,
 'message': 'success'}

In [7]:
type(data.json())

dict

In [10]:
#Parsing
data['iss_position']['longitude']

TypeError: 'Response' object is not subscriptable

In [12]:
print(data)

<Response [200]>

In [14]:
data1 = data.json()

In [15]:
data1['iss_position']['longitude']

'69.9226'

In [16]:
data1['iss_position']

{'longitude': '69.9226', 'latitude': '32.3371'}

In [17]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=MJJULQ2LBSJJVTWV'
r = requests.get(url)
dataalpha = r.json()

print(dataalpha)

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2022-06-17 19:35:00', '4. Interval': '5min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (5min)': {'2022-06-17 19:35:00': {'1. open': '135.4800', '2. high': '135.4800', '3. low': '135.4800', '4. close': '135.4800', '5. volume': '300'}, '2022-06-17 18:45:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '650'}, '2022-06-17 17:55:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '3301'}, '2022-06-17 17:35:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '301'}, '2022-06-17 17:15:00': {'1. open': '135.0400', '2. high': '135.0400', '3. low': '135.0400', '4. close': '135.0400', '5. volume': '400'}, '2022-06-17 17:10:00': {'1. open': '135.0700', '2. high': '135.0700', '3. low': '135.0500', '4. close': '135.0500', '5. volume': '1305'}, '2022-06-17 17:05:00': {'1. open': '135.2699', '2. high': '135.2699', '3. low': '135.2699', '4. close': '135.2699', '5. volume': '100'}, '2022-06-17 17:00:00': {'1. open': '135.1500', '2. high': '135.1500', '3. low': '135.1500', '4. close': '135.1500', '5. volume': '1173'}, '2022-06-17 16:30:00': {'1. open': '135.0200', '2. high': '135.3001', '3. low': '135.0200', '4. close': '135.3000', '5. volume': '6162'}, '2022-06-17 16:25:00': {'1. open': '135.0297', '2. high': '135.3000', '3. low': '135.0103', '4. close': '135.3000', '5. volume': '2944'}, '2022-06-17 16:15:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '135'}, '2022-06-17 16:10:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '338869'}, '2022-06-17 16:05:00': {'1. open': '135.0200', '2. high': '135.0200', '3. low': '135.0200', '4. close': '135.0200', '5. volume': '1337873'}, '2022-06-17 16:00:00': {'1. open': '135.1701', '2. high': '135.2950', '3. low': '134.9700', '4. close': '135.0200', '5. volume': '410618'}, '2022-06-17 15:55:00': {'1. open': '135.7700', '2. high': '135.7700', '3. low': '135.1200', '4. close': '135.2200', '5. volume': '188867'}, '2022-06-17 15:50:00': {'1. open': '135.8900', '2. high': '135.9000', '3. low': '135.6650', '4. close': '135.7800', '5. volume': '119475'}, '2022-06-17 15:45:00': {'1. open': '136.1950', '2. high': '136.1950', '3. low': '135.8100', '4. close': '135.9000', '5. volume': '108974'}, '2022-06-17 15:40:00': {'1. open': '136.0253', '2. high': '136.2700', '3. low': '136.0100', '4. close': '136.1900', '5. volume': '107961'}, '2022-06-17 15:35:00': {'1. open': '136.1350', '2. high': '136.1900', '3. low': '135.8100', '4. close': '136.0100', '5. volume': '93531'}, '2022-06-17 15:30:00': {'1. open': '136.0100', '2. high': '136.2600', '3. low': '136.0100', '4. close': '136.1160', '5. volume': '70007'}, '2022-06-17 15:25:00': {'1. open': '135.6050', '2. high': '136.1300', '3. low': '135.5700', '4. close': '136.0400', '5. volume': '70718'}, '2022-06-17 15:20:00': {'1. open': '135.3550', '2. high': '135.6200', '3. low': '135.2750', '4. close': '135.6050', '5. volume': '82171'}, '2022-06-17 15:15:00': {'1. open': '135.7100', '2. high': '135.7200', '3. low': '135.2500', '4. close': '135.3400', '5. volume': '55102'}, '2022-06-17 15:10:00': {'1. open': '135.6900', '2. high': '135.8200', '3. low': '135.5600', '4. close': '135.7100', '5. volume': '50392'}, '2022-06-17 15:05:00': {'1. open': '135.5900', '2. high': '135.8800', '3. low': '135.5800', '4. close': '135.6600', '5. volume': '88377'}, '2022-06-17 15:00:00': {'1. open': '135.9200', '2. high': '135.9800', '3. low': '135.4900', '4. close': '135.5771', '5. volume': '80440'}, '2022-06-17 14:55:00': {'1. open': '136.0650', '2. high': '136.0650', '3. low': '135.7550', '4. close': '135.9300', '5. volume': '78773'}, '2022-06-17 14:50:00': {'1. open': '136.0900', '2. high': '136.1337', '3. low': '135.9600', '4. close': '136.0800', '5. volume': '47953'}, '2022-06-17 14:45:00': {'1. open': '136.0800', '2. high': '136.3900', '3. low': '136.0800', '4. close': '136.1160', '5. volume': '61783'}, '2022-06-17 14:40:00': {'1. open': '135.7000', '2. high': '136.0300', '3. low': '135.6500', '4. close': '136.0300', '5. volume': '42914'}, '2022-06-17 14:35:00': {'1. open': '135.7200', '2. high': '135.7850', '3. low': '135.5100', '4. close': '135.6800', '5. volume': '53868'}, '2022-06-17 14:30:00': {'1. open': '135.8800', '2. high': '135.9800', '3. low': '135.6800', '4. close': '135.7200', '5. volume': '73560'}, '2022-06-17 14:25:00': {'1. open': '135.6700', '2. high': '135.9500', '3. low': '135.6400', '4. close': '135.8600', '5. volume': '43385'}, '2022-06-17 14:20:00': {'1. open': '135.6600', '2. high': '135.9000', '3. low': '135.5400', '4. close': '135.6700', '5. volume': '106467'}, '2022-06-17 14:15:00': {'1. open': '135.4000', '2. high': '135.6557', '3. low': '135.3800', '4. close': '135.6450', '5. volume': '43818'}, '2022-06-17 14:10:00': {'1. open': '135.1800', '2. high': '135.4300', '3. low': '135.1200', '4. close': '135.4150', '5. volume': '44562'}, '2022-06-17 14:05:00': {'1. open': '135.0650', '2. high': '135.2599', '3. low': '134.9800', '4. close': '135.2041', '5. volume': '54036'}, '2022-06-17 14:00:00': {'1. open': '134.8100', '2. high': '135.1597', '3. low': '134.8100', '4. close': '135.0393', '5. volume': '30698'}, '2022-06-17 13:55:00': {'1. open': '134.7100', '2. high': '134.9500', '3. low': '134.6800', '4. close': '134.8400', '5. volume': '28142'}, '2022-06-17 13:50:00': {'1. open': '134.7700', '2. high': '134.8161', '3. low': '134.4500', '4. close': '134.6700', '5. volume': '25742'}, '2022-06-17 13:45:00': {'1. open': '134.6500', '2. high': '134.8500', '3. low': '134.6100', '4. close': '134.7800', '5. volume': '23435'}, '2022-06-17 13:40:00': {'1. open': '134.7300', '2. high': '134.8600', '3. low': '134.5900', '4. close': '134.6300', '5. volume': '26807'}, '2022-06-17 13:35:00': {'1. open': '134.7700', '2. high': '134.8300', '3. low': '134.5400', '4. close': '134.7600', '5. volume': '26329'}, '2022-06-17 13:30:00': {'1. open': '134.8700', '2. high': '134.8700', '3. low': '134.6400', '4. close': '134.7700', '5. volume': '35223'}, '2022-06-17 13:25:00': {'1. open': '134.8500', '2. high': '134.9000', '3. low': '134.6800', '4. close': '134.8950', '5. volume': '33539'}, '2022-06-17 13:20:00': {'1. open': '134.9300', '2. high': '134.9610', '3. low': '134.7500', '4. close': '134.8559', '5. volume': '36800'}, '2022-06-17 13:15:00': {'1. open': '134.8600', '2. high': '135.0750', '3. low': '134.7700', '4. close': '134.9596', '5. volume': '35570'}, '2022-06-17 13:10:00': {'1. open': '134.4500', '2. high': '134.9000', '3. low': '134.4300', '4. close': '134.8900', '5. volume': '47374'}, '2022-06-17 13:05:00': {'1. open': '134.1500', '2. high': '134.4500', '3. low': '134.1000', '4. close': '134.4400', '5. volume': '30265'}, '2022-06-17 13:00:00': {'1. open': '133.8500', '2. high': '134.1300', '3. low': '133.8200', '4. close': '134.1300', '5. volume': '34507'}, '2022-06-17 12:55:00': {'1. open': '133.9600', '2. high': '133.9800', '3. low': '133.7300', '4. close': '133.8400', '5. volume': '55198'}, '2022-06-17 12:50:00': {'1. open': '134.0200', '2. high': '134.0500', '3. low': '133.8631', '4. close': '133.9750', '5. volume': '33025'}, '2022-06-17 12:45:00': {'1. open': '134.0700', '2. high': '134.1800', '3. low': '133.7800', '4. close': '133.9800', '5. volume': '40269'}, '2022-06-17 12:40:00': {'1. open': '133.9700', '2. high': '134.0700', '3. low': '133.7500', '4. close': '134.0450', '5. volume': '39584'}, '2022-06-17 12:35:00': {'1. open': '134.2100', '2. high': '134.2400', '3. low': '133.9200', '4. close': '133.9500', '5. volume': '48850'}, '2022-06-17 12:30:00': {'1. open': '134.1100', '2. high': '134.2800', '3. low': '134.0200', '4. close': '134.1800', '5. volume': '30651'}, '2022-06-17 12:25:00': {'1. open': '133.9086', '2. high': '134.1400', '3. low': '133.8500', '4. close': '134.1200', '5. volume': '31232'}, '2022-06-17 12:20:00': {'1. open': '134.0400', '2. high': '134.1900', '3. low': '133.8100', '4. close': '133.8900', '5. volume': '36472'}, '2022-06-17 12:15:00': {'1. open': '133.6800', '2. high': '134.0300', '3. low': '133.5800', '4. close': '134.0100', '5. volume': '31068'}, '2022-06-17 12:10:00': {'1. open': '133.6500', '2. high': '133.8000', '3. low': '133.4500', '4. close': '133.6700', '5. volume': '33506'}, '2022-06-17 12:05:00': {'1. open': '133.5900', '2. high': '133.6000', '3. low': '133.4000', '4. close': '133.5900', '5. volume': '38808'}, '2022-06-17 12:00:00': {'1. open': '133.5500', '2. high': '133.7300', '3. low': '133.4400', '4. close': '133.6200', '5. volume': '48586'}, '2022-06-17 11:55:00': {'1. open': '133.9200', '2. high': '134.0050', '3. low': '133.4600', '4. close': '133.5500', '5. volume': '57818'}, '2022-06-17 11:50:00': {'1. open': '134.1500', '2. high': '134.1600', '3. low': '133.8700', '4. close': '133.9400', '5. volume': '49174'}, '2022-06-17 11:45:00': {'1. open': '134.4200', '2. high': '134.4900', '3. low': '134.2200', '4. close': '134.2290', '5. volume': '37253'}, '2022-06-17 11:40:00': {'1. open': '134.5700', '2. high': '134.6100', '3. low': '134.2000', '4. close': '134.4000', '5. volume': '36297'}, '2022-06-17 11:35:00': {'1. open': '134.3700', '2. high': '134.7600', '3. low': '134.3500', '4. close': '134.5800', '5. volume': '48270'}, '2022-06-17 11:30:00': {'1. open': '134.0000', '2. high': '134.3900', '3. low': '133.8491', '4. close': '134.3301', '5. volume': '41195'}, '2022-06-17 11:25:00': {'1. open': '134.3282', '2. high': '134.3650', '3. low': '133.9450', '4. close': '134.0100', '5. volume': '39876'}, '2022-06-17 11:20:00': {'1. open': '134.0800', '2. high': '134.4400', '3. low': '134.0300', '4. close': '134.3300', '5. volume': '45482'}, '2022-06-17 11:15:00': {'1. open': '133.9850', '2. high': '134.1100', '3. low': '133.8800', '4. close': '134.0800', '5. volume': '39032'}, '2022-06-17 11:10:00': {'1. open': '133.6850', '2. high': '134.0700', '3. low': '133.6850', '4. close': '133.9500', '5. volume': '53616'}, '2022-06-17 11:05:00': {'1. open': '133.3000', '2. high': '133.8500', '3. low': '133.1750', '4. close': '133.7400', '5. volume': '48661'}, '2022-06-17 11:00:00': {'1. open': '133.4000', '2. high': '133.5164', '3. low': '133.2100', '4. close': '133.3200', '5. volume': '65861'}, '2022-06-17 10:55:00': {'1. open': '133.2750', '2. high': '133.4300', '3. low': '133.1800', '4. close': '133.3900', '5. volume': '51073'}, '2022-06-17 10:50:00': {'1. open': '133.4900', '2. high': '133.6600', '3. low': '132.9400', '4. close': '133.2550', '5. volume': '55002'}, '2022-06-17 10:45:00': {'1. open': '133.2600', '2. high': '133.4900', '3. low': '132.8500', '4. close': '133.4900', '5. volume': '138285'}, '2022-06-17 10:40:00': {'1. open': '133.8800', '2. high': '133.9100', '3. low': '133.2500', '4. close': '133.2700', '5. volume': '109784'}, '2022-06-17 10:35:00': {'1. open': '134.3850', '2. high': '134.4600', '3. low': '133.8800', '4. close': '133.8800', '5. volume': '57660'}, '2022-06-17 10:30:00': {'1. open': '134.5800', '2. high': '134.6800', '3. low': '134.2600', '4. close': '134.4000', '5. volume': '69296'}, '2022-06-17 10:25:00': {'1. open': '134.9900', '2. high': '134.9900', '3. low': '134.5100', '4. close': '134.6000', '5. volume': '49106'}, '2022-06-17 10:20:00': {'1. open': '135.3300', '2. high': '135.3500', '3. low': '134.9500', '4. close': '135.0100', '5. volume': '51887'}, '2022-06-17 10:15:00': {'1. open': '135.6550', '2. high': '135.6900', '3. low': '135.3300', '4. close': '135.3300', '5. volume': '30787'}, '2022-06-17 10:10:00': {'1. open': '135.6500', '2. high': '135.7100', '3. low': '135.4600', '4. close': '135.6000', '5. volume': '48457'}, '2022-06-17 10:05:00': {'1. open': '135.9650', '2. high': '136.1600', '3. low': '135.5632', '4. close': '135.6300', '5. volume': '62539'}, '2022-06-17 10:00:00': {'1. open': '136.6600', '2. high': '136.7200', '3. low': '135.9437', '4. close': '135.9650', '5. volume': '48165'}, '2022-06-17 09:55:00': {'1. open': '136.3600', '2. high': '136.7700', '3. low': '136.0600', '4. close': '136.6700', '5. volume': '62242'}, '2022-06-17 09:50:00': {'1. open': '136.7879', '2. high': '136.9300', '3. low': '136.2910', '4. close': '136.3800', '5. volume': '72909'}, '2022-06-17 09:45:00': {'1. open': '136.5300', '2. high': '136.9800', '3. low': '136.5300', '4. close': '136.8100', '5. volume': '42176'}, '2022-06-17 09:40:00': {'1. open': '136.7700', '2. high': '136.8100', '3. low': '136.3729', '4. close': '136.5100', '5. volume': '55156'}, '2022-06-17 09:35:00': {'1. open': '135.9900', '2. high': '136.8400', '3. low': '135.7700', '4. close': '136.7851', '5. volume': '977182'}, '2022-06-17 09:30:00': {'1. open': '135.7300', '2. high': '135.9800', '3. low': '135.7300', '4. close': '135.9800', '5. volume': '1273'}, '2022-06-17 09:15:00': {'1. open': '135.5000', '2. high': '135.5000', '3. low': '135.5000', '4. close': '135.5000', '5. volume': '270'}, '2022-06-17 09:05:00': {'1. open': '135.5097', '2. high': '135.5097', '3. low': '135.5097', '4. close': '135.5097', '5. volume': '500'}, '2022-06-17 09:00:00': {'1. open': '135.7400', '2. high': '136.2500', '3. low': '135.7400', '4. close': '136.2500', '5. volume': '827'}, '2022-06-17 08:45:00': {'1. open': '136.0000', '2. high': '136.0000', '3. low': '135.7400', '4. close': '135.7400', '5. volume': '827'}, '2022-06-17 08:35:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '454'}, '2022-06-17 08:30:00': {'1. open': '136.2499', '2. high': '136.2499', '3. low': '136.2499', '4. close': '136.2499', '5. volume': '105'}, '2022-06-17 08:20:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '173'}, '2022-06-17 08:10:00': {'1. open': '136.2500', '2. high': '136.2500', '3. low': '136.2500', '4. close': '136.2500', '5. volume': '100'}}}

In [19]:
import pandas as pd

In [21]:
pd.DataFrame(dataalpha)

,Meta Data,Time Series (5min)
1. Information,"Intraday (5min) open, high, low, close prices ...",NaN
2. Symbol,IBM,NaN
3. Last Refreshed,2022-06-17 19:35:00,NaN
4. Interval,5min,NaN
5. Output Size,Compact,NaN
...,...,...
2022-06-17 08:45:00,NaN,"{'1. open': '136.0000', '2. high': '136.0000',..."
2022-06-17 08:35:00,NaN,"{'1. open': '136.2500', '2. high': '136.2500',..."
2022-06-17 08:30:00,NaN,"{'1. open': '136.2499', '2. high': '136.2499',..."
2022-06-17 08:20:00,NaN,"{'1. open': '136.2500', '2. high': '136.2500',..."
2022-06-17 08:10:00,NaN,"{'1. open': '136.2500', '2. high': '136.2500',..."

In [24]:
pd.DataFrame.(dataalpha.items())

SyntaxError: invalid syntax (Temp/ipykernel_7860/5837613.py, line 1)

In [25]:
d=r.json()

In [26]:
d['Time Series (5min)']

{'2022-06-17 19:35:00': {'1. open': '135.4800',
  '2. high': '135.4800',
  '3. low': '135.4800',
  '4. close': '135.4800',
  '5. volume': '300'},
 '2022-06-17 18:45:00': {'1. open': '135.5000',
  '2. high': '135.5000',
  '3. low': '135.5000',
  '4. close': '135.5000',
  '5. volume': '650'},
 '2022-06-17 17:55:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '3301'},
 '2022-06-17 17:35:00': {'1. open': '135.0400',
  '2. high': '135.0400',
  '3. low': '135.0400',
  '4. close': '135.0400',
  '5. volume': '301'},
 '2022-06-17 17:15:00': {'1. open': '135.0400',
  '2. high': '135.0400',
  '3. low': '135.0400',
  '4. close': '135.0400',
  '5. volume': '400'},
 '2022-06-17 17:10:00': {'1. open': '135.0700',
  '2. high': '135.0700',
  '3. low': '135.0500',
  '4. close': '135.0500',
  '5. volume': '1305'},
 '2022-06-17 17:05:00': {'1. open': '135.2699',
  '2. high': '135.2699',
  '3. low': '135.2699',
  '4. close': '135.2699',
  '5. volume': '100'},
 '2022-06-17 17:00:00': {'1. open': '135.1500',
  '2. high': '135.1500',
  '3. low': '135.1500',
  '4. close': '135.1500',
  '5. volume': '1173'},
 '2022-06-17 16:30:00': {'1. open': '135.0200',
  '2. high': '135.3001',
  '3. low': '135.0200',
  '4. close': '135.3000',
  '5. volume': '6162'},
 '2022-06-17 16:25:00': {'1. open': '135.0297',
  '2. high': '135.3000',
  '3. low': '135.0103',
  '4. close': '135.3000',
  '5. volume': '2944'},
 '2022-06-17 16:15:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '135'},
 '2022-06-17 16:10:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '338869'},
 '2022-06-17 16:05:00': {'1. open': '135.0200',
  '2. high': '135.0200',
  '3. low': '135.0200',
  '4. close': '135.0200',
  '5. volume': '1337873'},
 '2022-06-17 16:00:00': {'1. open': '135.1701',
  '2. high': '135.2950',
  '3. low': '134.9700',
  '4. close': '135.0200',
  '5. volume': '410618'},
 '2022-06-17 15:55:00': {'1. open': '135.7700',
  '2. high': '135.7700',
  '3. low': '135.1200',
  '4. close': '135.2200',
  '5. volume': '188867'},
 '2022-06-17 15:50:00': {'1. open': '135.8900',
  '2. high': '135.9000',
  '3. low': '135.6650',
  '4. close': '135.7800',
  '5. volume': '119475'},
 '2022-06-17 15:45:00': {'1. open': '136.1950',
  '2. high': '136.1950',
  '3. low': '135.8100',
  '4. close': '135.9000',
  '5. volume': '108974'},
 '2022-06-17 15:40:00': {'1. open': '136.0253',
  '2. high': '136.2700',
  '3. low': '136.0100',
  '4. close': '136.1900',
  '5. volume': '107961'},
 '2022-06-17 15:35:00': {'1. open': '136.1350',
  '2. high': '136.1900',
  '3. low': '135.8100',
  '4. close': '136.0100',
  '5. volume': '93531'},
 '2022-06-17 15:30:00': {'1. open': '136.0100',
  '2. high': '136.2600',
  '3. low': '136.0100',
  '4. close': '136.1160',
  '5. volume': '70007'},
 '2022-06-17 15:25:00': {'1. open': '135.6050',
  '2. high': '136.1300',
  '3. low': '135.5700',
  '4. close': '136.0400',
  '5. volume': '70718'},
 '2022-06-17 15:20:00': {'1. open': '135.3550',
  '2. high': '135.6200',
  '3. low': '135.2750',
  '4. close': '135.6050',
  '5. volume': '82171'},
 '2022-06-17 15:15:00': {'1. open': '135.7100',
  '2. high': '135.7200',
  '3. low': '135.2500',
  '4. close': '135.3400',
  '5. volume': '55102'},
 '2022-06-17 15:10:00': {'1. open': '135.6900',
  '2. high': '135.8200',
  '3. low': '135.5600',
  '4. close': '135.7100',
  '5. volume': '50392'},
 '2022-06-17 15:05:00': {'1. open': '135.5900',
  '2. high': '135.8800',
  '3. low': '135.5800',
  '4. close': '135.6600',
  '5. volume': '88377'},
 '2022-06-17 15:00:00': {'1. open': '135.9200',
  '2. high': '135.9800',
  '3. low': '135.4900',
  '4. close': '135.5771',
  '5. volume': '80440'},
 '2022-06-17 14:55:00': {'1. open': '136.0650',
  '2. high': '136.0650',
  '3. low': '135.7550',
  '4. close': '135.9300',
  '5. volume': '78773'},
 '2022-06-17 14:50:00': {'1. open': '136.0900',
  '2. high': '136.1337',
  '3. low': '135.9600',
  '4. close': '136.0800',
  '5. volume': '47953'},
 '2022-06-17 14:45:00': {'1. open': '136.0800',
  '2. high': '136.3900',
  '3. low': '136.0800',
  '4. close': '136.1160',
  '5. volume': '61783'},
 '2022-06-17 14:40:00': {'1. open': '135.7000',
  '2. high': '136.0300',
  '3. low': '135.6500',
  '4. close': '136.0300',
  '5. volume': '42914'},
 '2022-06-17 14:35:00': {'1. open': '135.7200',
  '2. high': '135.7850',
  '3. low': '135.5100',
  '4. close': '135.6800',
  '5. volume': '53868'},
 '2022-06-17 14:30:00': {'1. open': '135.8800',
  '2. high': '135.9800',
  '3. low': '135.6800',
  '4. close': '135.7200',
  '5. volume': '73560'},
 '2022-06-17 14:25:00': {'1. open': '135.6700',
  '2. high': '135.9500',
  '3. low': '135.6400',
  '4. close': '135.8600',
  '5. volume': '43385'},
 '2022-06-17 14:20:00': {'1. open': '135.6600',
  '2. high': '135.9000',
  '3. low': '135.5400',
  '4. close': '135.6700',
  '5. volume': '106467'},
 '2022-06-17 14:15:00': {'1. open': '135.4000',
  '2. high': '135.6557',
  '3. low': '135.3800',
  '4. close': '135.6450',
  '5. volume': '43818'},
 '2022-06-17 14:10:00': {'1. open': '135.1800',
  '2. high': '135.4300',
  '3. low': '135.1200',
  '4. close': '135.4150',
  '5. volume': '44562'},
 '2022-06-17 14:05:00': {'1. open': '135.0650',
  '2. high': '135.2599',
  '3. low': '134.9800',
  '4. close': '135.2041',
  '5. volume': '54036'},
 '2022-06-17 14:00:00': {'1. open': '134.8100',
  '2. high': '135.1597',
  '3. low': '134.8100',
  '4. close': '135.0393',
  '5. volume': '30698'},
 '2022-06-17 13:55:00': {'1. open': '134.7100',
  '2. high': '134.9500',
  '3. low': '134.6800',
  '4. close': '134.8400',
  '5. volume': '28142'},
 '2022-06-17 13:50:00': {'1. open': '134.7700',
  '2. high': '134.8161',
  '3. low': '134.4500',
  '4. close': '134.6700',
  '5. volume': '25742'},
 '2022-06-17 13:45:00': {'1. open': '134.6500',
  '2. high': '134.8500',
  '3. low': '134.6100',
  '4. close': '134.7800',
  '5. volume': '23435'},
 '2022-06-17 13:40:00': {'1. open': '134.7300',
  '2. high': '134.8600',
  '3. low': '134.5900',
  '4. close': '134.6300',
  '5. volume': '26807'},
 '2022-06-17 13:35:00': {'1. open': '134.7700',
  '2. high': '134.8300',
  '3. low': '134.5400',
  '4. close': '134.7600',
  '5. volume': '26329'},
 '2022-06-17 13:30:00': {'1. open': '134.8700',
  '2. high': '134.8700',
  '3. low': '134.6400',
  '4. close': '134.7700',
  '5. volume': '35223'},
 '2022-06-17 13:25:00': {'1. open': '134.8500',
  '2. high': '134.9000',
  '3. low': '134.6800',
  '4. close': '134.8950',
  '5. volume': '33539'},
 '2022-06-17 13:20:00': {'1. open': '134.9300',
  '2. high': '134.9610',
  '3. low': '134.7500',
  '4. close': '134.8559',
  '5. volume': '36800'},
 '2022-06-17 13:15:00': {'1. open': '134.8600',
  '2. high': '135.0750',
  '3. low': '134.7700',
  '4. close': '134.9596',
  '5. volume': '35570'},
 '2022-06-17 13:10:00': {'1. open': '134.4500',
  '2. high': '134.9000',
  '3. low': '134.4300',
  '4. close': '134.8900',
  '5. volume': '47374'},
 '2022-06-17 13:05:00': {'1. open': '134.1500',
  '2. high': '134.4500',
  '3. low': '134.1000',
  '4. close': '134.4400',
  '5. volume': '30265'},
 '2022-06-17 13:00:00': {'1. open': '133.8500',
  '2. high': '134.1300',
  '3. low': '133.8200',
  '4. close': '134.1300',
  '5. volume': '34507'},
 '2022-06-17 12:55:00': {'1. open': '133.9600',
  '2. high': '133.9800',
  '3. low': '133.7300',
  '4. close': '133.8400',
  '5. volume': '55198'},
 '2022-06-17 12:50:00': {'1. open': '134.0200',
  '2. high': '134.0500',
  '3. low': '133.8631',
  '4. close': '133.9750',
  '5. volume': '33025'},
 '2022-06-17 12:45:00': {'1. open': '134.0700',
  '2. high': '134.1800',
  '3. low': '133.7800',
  '4. close': '133.9800',
  '5. volume': '40269'},
 '2022-06-17 12:40:00': {'1. open': '133.9700',
  '2. high': '134.0700',
  '3. low': '133.7500',
  '4. close': '134.0450',
  '5. volume': '39584'},
 '2022-06-17 12:35:00': {'1. open': '134.2100',
  '2. high': '134.2400',
  '3. low': '133.9200',
  '4. close': '133.9500',
  '5. volume': '48850'},
 '2022-06-17 12:30:00': {'1. open': '134.1100',
  '2. high': '134.2800',
  '3. low': '134.0200',
  '4. close': '134.1800',
  '5. volume': '30651'},
 '2022-06-17 12:25:00': {'1. open': '133.9086',
  '2. high': '134.1400',
  '3. low': '133.8500',
  '4. close': '134.1200',
  '5. volume': '31232'},
 '2022-06-17 12:20:00': {'1. open': '134.0400',
  '2. high': '134.1900',
  '3. low': '133.8100',
  '4. close': '133.8900',
  '5. volume': '36472'},
 '2022-06-17 12:15:00': {'1. open': '133.6800',
  '2. high': '134.0300',
  '3. low': '133.5800',
  '4. close': '134.0100',
  '5. volume': '31068'},
 '2022-06-17 12:10:00': {'1. open': '133.6500',
  '2. high': '133.8000',
  '3. low': '133.4500',
  '4. close': '133.6700',
  '5. volume': '33506'},
 '2022-06-17 12:05:00': {'1. open': '133.5900',
  '2. high': '133.6000',
  '3. low': '133.4000',
  '4. close': '133.5900',
  '5. volume': '38808'},
 '2022-06-17 12:00:00': {'1. open': '133.5500',
  '2. high': '133.7300',
  '3. low': '133.4400',
  '4. close': '133.6200',
  '5. volume': '48586'},
 '2022-06-17 11:55:00': {'1. open': '133.9200',
  '2. high': '134.0050',
  '3. low': '133.4600',
  '4. close': '133.5500',
  '5. volume': '57818'},
 '2022-06-17 11:50:00': {'1. open': '134.1500',
  '2. high': '134.1600',
  '3. low': '133.8700',
  '4. close': '133.9400',
  '5. volume': '49174'},
 '2022-06-17 11:45:00': {'1. open': '134.4200',
  '2. high': '134.4900',
  '3. low': '134.2200',
  '4. close': '134.2290',
  '5. volume': '37253'},
 '2022-06-17 11:40:00': {'1. open': '134.5700',
  '2. high': '134.6100',
  '3. low': '134.2000',
  '4. close': '134.4000',
  '5. volume': '36297'},
 '2022-06-17 11:35:00': {'1. open': '134.3700',
  '2. high': '134.7600',
  '3. low': '134.3500',
  '4. close': '134.5800',
  '5. volume': '48270'},
 '2022-06-17 11:30:00': {'1. open': '134.0000',
  '2. high': '134.3900',
  '3. low': '133.8491',
  '4. close': '134.3301',
  '5. volume': '41195'},
 '2022-06-17 11:25:00': {'1. open': '134.3282',
  '2. high': '134.3650',
  '3. low': '133.9450',
  '4. close': '134.0100',
  '5. volume': '39876'},
 '2022-06-17 11:20:00': {'1. open': '134.0800',
  '2. high': '134.4400',
  '3. low': '134.0300',
  '4. close': '134.3300',
  '5. volume': '45482'},
 '2022-06-17 11:15:00': {'1. open': '133.9850',
  '2. high': '134.1100',
  '3. low': '133.8800',
  '4. close': '134.0800',
  '5. volume': '39032'},
 '2022-06-17 11:10:00': {'1. open': '133.6850',
  '2. high': '134.0700',
  '3. low': '133.6850',
  '4. close': '133.9500',
  '5. volume': '53616'},
 '2022-06-17 11:05:00': {'1. open': '133.3000',
  '2. high': '133.8500',
  '3. low': '133.1750',
  '4. close': '133.7400',
  '5. volume': '48661'},
 '2022-06-17 11:00:00': {'1. open': '133.4000',
  '2. high': '133.5164',
  '3. low': '133.2100',
  '4. close': '133.3200',
  '5. volume': '65861'},
 '2022-06-17 10:55:00': {'1. open': '133.2750',
  '2. high': '133.4300',
  '3. low': '133.1800',
  '4. close': '133.3900',
  '5. volume': '51073'},
 '2022-06-17 10:50:00': {'1. open': '133.4900',
  '2. high': '133.6600',
  '3. low': '132.9400',
  '4. close': '133.2550',
  '5. volume': '55002'},
 '2022-06-17 10:45:00': {'1. open': '133.2600',
  '2. high': '133.4900',
  '3. low': '132.8500',
  '4. close': '133.4900',
  '5. volume': '138285'},
 '2022-06-17 10:40:00': {'1. open': '133.8800',
  '2. high': '133.9100',
  '3. low': '133.2500',
  '4. close': '133.2700',
  '5. volume': '109784'},
 '2022-06-17 10:35:00': {'1. open': '134.3850',
  '2. high': '134.4600',
  '3. low': '133.8800',
  '4. close': '133.8800',
  '5. volume': '57660'},
 '2022-06-17 10:30:00': {'1. open': '134.5800',
  '2. high': '134.6800',
  '3. low': '134.2600',
  '4. close': '134.4000',
  '5. volume': '69296'},
 '2022-06-17 10:25:00': {'1. open': '134.9900',
  '2. high': '134.9900',
  '3. low': '134.5100',
  '4. close': '134.6000',
  '5. volume': '49106'},
 '2022-06-17 10:20:00': {'1. open': '135.3300',
  '2. high': '135.3500',
  '3. low': '134.9500',
  '4. close': '135.0100',
  '5. volume': '51887'},
 '2022-06-17 10:15:00': {'1. open': '135.6550',
  '2. high': '135.6900',
  '3. low': '135.3300',
  '4. close': '135.3300',
  '5. volume': '30787'},
 '2022-06-17 10:10:00': {'1. open': '135.6500',
  '2. high': '135.7100',
  '3. low': '135.4600',
  '4. close': '135.6000',
  '5. volume': '48457'},
 '2022-06-17 10:05:00': {'1. open': '135.9650',
  '2. high': '136.1600',
  '3. low': '135.5632',
  '4. close': '135.6300',
  '5. volume': '62539'},
 '2022-06-17 10:00:00': {'1. open': '136.6600',
  '2. high': '136.7200',
  '3. low': '135.9437',
  '4. close': '135.9650',
  '5. volume': '48165'},
 '2022-06-17 09:55:00': {'1. open': '136.3600',
  '2. high': '136.7700',
  '3. low': '136.0600',
  '4. close': '136.6700',
  '5. volume': '62242'},
 '2022-06-17 09:50:00': {'1. open': '136.7879',
  '2. high': '136.9300',
  '3. low': '136.2910',
  '4. close': '136.3800',
  '5. volume': '72909'},
 '2022-06-17 09:45:00': {'1. open': '136.5300',
  '2. high': '136.9800',
  '3. low': '136.5300',
  '4. close': '136.8100',
  '5. volume': '42176'},
 '2022-06-17 09:40:00': {'1. open': '136.7700',
  '2. high': '136.8100',
  '3. low': '136.3729',
  '4. close': '136.5100',
  '5. volume': '55156'},
 '2022-06-17 09:35:00': {'1. open': '135.9900',
  '2. high': '136.8400',
  '3. low': '135.7700',
  '4. close': '136.7851',
  '5. volume': '977182'},
 '2022-06-17 09:30:00': {'1. open': '135.7300',
  '2. high': '135.9800',
  '3. low': '135.7300',
  '4. close': '135.9800',
  '5. volume': '1273'},
 '2022-06-17 09:15:00': {'1. open': '135.5000',
  '2. high': '135.5000',
  '3. low': '135.5000',
  '4. close': '135.5000',
  '5. volume': '270'},
 '2022-06-17 09:05:00': {'1. open': '135.5097',
  '2. high': '135.5097',
  '3. low': '135.5097',
  '4. close': '135.5097',
  '5. volume': '500'},
 '2022-06-17 09:00:00': {'1. open': '135.7400',
  '2. high': '136.2500',
  '3. low': '135.7400',
  '4. close': '136.2500',
  '5. volume': '827'},
 '2022-06-17 08:45:00': {'1. open': '136.0000',
  '2. high': '136.0000',
  '3. low': '135.7400',
  '4. close': '135.7400',
  '5. volume': '827'},
 '2022-06-17 08:35:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2499',
  '4. close': '136.2499',
  '5. volume': '454'},
 '2022-06-17 08:30:00': {'1. open': '136.2499',
  '2. high': '136.2499',
  '3. low': '136.2499',
  '4. close': '136.2499',
  '5. volume': '105'},
 '2022-06-17 08:20:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2500',
  '4. close': '136.2500',
  '5. volume': '173'},
 '2022-06-17 08:10:00': {'1. open': '136.2500',
  '2. high': '136.2500',
  '3. low': '136.2500',
  '4. close': '136.2500',
  '5. volume': '100'}}

In [28]:
pd.DataFrame(d['Time Series (5min)'])

,2022-06-17 19:35:00,2022-06-17 18:45:00,2022-06-17 17:55:00,2022-06-17 17:35:00,2022-06-17 17:15:00,2022-06-17 17:10:00,2022-06-17 17:05:00,2022-06-17 17:00:00,2022-06-17 16:30:00,2022-06-17 16:25:00,...,2022-06-17 09:35:00,2022-06-17 09:30:00,2022-06-17 09:15:00,2022-06-17 09:05:00,2022-06-17 09:00:00,2022-06-17 08:45:00,2022-06-17 08:35:00,2022-06-17 08:30:00,2022-06-17 08:20:00,2022-06-17 08:10:00
1. open,135.4800,135.5000,135.0200,135.0400,135.0400,135.0700,135.2699,135.1500,135.0200,135.0297,...,135.9900,135.7300,135.5000,135.5097,135.7400,136.0000,136.2500,136.2499,136.2500,136.2500
2. high,135.4800,135.5000,135.0200,135.0400,135.0400,135.0700,135.2699,135.1500,135.3001,135.3000,...,136.8400,135.9800,135.5000,135.5097,136.2500,136.0000,136.2500,136.2499,136.2500,136.2500
3. low,135.4800,135.5000,135.0200,135.0400,135.0400,135.0500,135.2699,135.1500,135.0200,135.0103,...,135.7700,135.7300,135.5000,135.5097,135.7400,135.7400,136.2499,136.2499,136.2500,136.2500
4. close,135.4800,135.5000,135.0200,135.0400,135.0400,135.0500,135.2699,135.1500,135.3000,135.3000,...,136.7851,135.9800,135.5000,135.5097,136.2500,135.7400,136.2499,136.2499,136.2500,136.2500
5. volume,300,650,3301,301,400,1305,100,1173,6162,2944,...,977182,1273,270,500,827,827,454,105,173,100

In [30]:
pd.DataFrame(d['Time Series (5min)']).T

                      1. open   2. high    3. low  4. close 5. volume
2022-06-17 19:35:00  135.4800  135.4800  135.4800  135.4800       300
2022-06-17 18:45:00  135.5000  135.5000  135.5000  135.5000       650
2022-06-17 17:55:00  135.0200  135.0200  135.0200  135.0200      3301
2022-06-17 17:35:00  135.0400  135.0400  135.0400  135.0400       301
2022-06-17 17:15:00  135.0400  135.0400  135.0400  135.0400       400
...                       ...       ...       ...       ...       ...
2022-06-17 08:45:00  136.0000  136.0000  135.7400  135.7400       827
2022-06-17 08:35:00  136.2500  136.2500  136.2499  136.2499       454
2022-06-17 08:30:00  136.2499  136.2499  136.2499  136.2499       105
2022-06-17 08:20:00  136.2500  136.2500  136.2500  136.2500       173
2022-06-17 08:10:00  136.2500  136.2500  136.2500  136.2500       100

[100 rows x 5 columns]