In [1]:
import pandas as pd

In [3]:
brics=pd.read_csv(r'C:\Users\spagg\Documents\Python\3. Intermediate Python\brics.csv')

In [5]:
cars = pd.read_csv(r'C:\Users\spagg\Documents\Python\3. Intermediate Python\cars.csv')

In [6]:
gapminder = pd.read_csv(r'C:\Users\spagg\Documents\Python\3. Intermediate Python\gapminder.csv')

In [7]:
print(max(year))

NameError: name 'year' is not defined

In [8]:
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [10]:
print(gdp_cap[-1])

NameError: name 'gdp_cap' is not defined

In [11]:
countries = ['spain','france','germany','norway']

In [13]:
capitals = ['madrid','paris','berlin','oslo']

In [14]:
ind_ger = countries.index('germany')

In [15]:
print(capitals[ind_ger])

berlin

In [16]:
europe = {'spain':'madrid','france':'paris','germany':'berlin','norway':'oslo'}

In [17]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [18]:
print(europe.keys())

dict_keys(['spain', 'france', 'germany', 'norway'])

In [19]:
print(europe['norway'])

oslo

In [20]:
europe['italy'] = 'rome'

In [21]:
print('italy' in europe)

True

In [22]:
europe['poland'] = 'warsaw'

In [23]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [24]:
europe['germany'] = 'bonn'

In [25]:
del(europe['poland'])

In [26]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': 'rome'}

In [30]:
print(europe['france']['capital'])

TypeError: string indices must be integers

In [34]:
data = {'capital':'rome','population':59.83}

In [35]:
europe['italy'] = data

In [36]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'italy': {'capital': 'rome', 'population': 59.83}}

In [37]:
names = ['United States','Australia','Japan','India','Russia','Morocco','Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809,731,588,18,200,70,45]

In [38]:
import pandas as pd

In [39]:
my_dict = {"country":names,"drives_right":dr,"cars_per_cap":cpc}

In [40]:
cars = pd.DataFrame(my_dict)

In [41]:
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [43]:
row_labels = ['US','AUS','JPN','IN','RU','MOR','EG']

In [44]:
cars.index = row_labels

In [45]:
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [46]:
import pandas as pd

In [49]:
cars = pd.read_csv(r'C:\Users\spagg\Documents\Python\3. Intermediate Python\cars.csv')

In [50]:
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [51]:
cars = pd.read_csv(r'C:\Users\spagg\Documents\Python\3. Intermediate Python\cars.csv',index_col=0)

In [52]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [53]:
#series
print(cars["country"])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [54]:
#dataframe
print(cars[["country"]])

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [55]:
print(cars[['country','drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [56]:
print(cars[0:3])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [57]:
print(cars[3:6])

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

In [62]:
print(cars.loc['JAP'])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [63]:
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [68]:
print(cars.iloc[[1,-1]])

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [69]:
print(cars.loc['MOR','drives_right'])

True

In [72]:
print(cars.loc[['RU','MOR'],['country','drives_right']])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [73]:
True == False

False

In [74]:
-5*15 != 75

True

In [75]:
'pyscript' =='PyScript'

False

In [76]:
True == 1

True

In [77]:
x = -3 * 6
print (x>=-10)

False

In [78]:
y = "test"
print("test"<= y)

True

In [79]:
True>False

True